.buttonStyle {
  background-color: #0e83ff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.dropdownMenu {
  list-style: none;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ccc;
}